<ul class="{{menu.class}}">
  {{#each menu.links}}
    {{#each this}}
      {{#if dividerAfter}}<li class="divider"></li>{{/if}}
      {{#if links}}
        {{{template ../../../menu.submenuTemplate locals=this theme=../../../req.res.locals.theme}}}
      {{else}}
        <li>
          <a {{#if href}}href="{{href}}"{{/if}} {{#if title}}title="{{title}}"{{/if}} {{#if class}}class="{{class}}"{{/if}} style="{{style}}" target="{{target}}" rel="{{rel}}">
            {{{text}}}
          </a>
        </li>
      {{/if}}
    {{/each}}
  {{/each}}
</ul>