<li class="li-submenu {{#if active}}active{{/if}}">
  {{#with submenu}}
    <a {{#if href}}href="{{href}}"{{/if}} {{#if title}}title="{{title}}"{{/if}} {{#if class}}class="{{class}}"{{/if}} style="{{style}}" target="{{target}}" rel="{{rel}}">
      {{{text}}}
      {{#if ../active}}
        <i class="pull-right glyphicon glyphicon-chevron-down"></i>
      {{else}}
        <i class="pull-right glyphicon glyphicon-menu-hamburger"></i>
      {{/if}}
    </a>
  {{/with}}
  <ul class="submenu nav nav-pills nav-stacked">{{{linksHTML}}}</ul>
</li>